<!DOCTYPE html>
<html lang="en-us">

  <head>
    <title>
      Tristan Boyar Coin Archive
    </title>

    <meta charset="UTF-8">
    <meta name="description" content="Tristan Boyar Coin Archive">
    <meta name="author" content="Tristan Boyar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/countrypagetemplate.css" type="text/css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  </head>

  <body>

    <header>
      <div class="sitename">
          tristan boyar coin archive
      </div>
      <div class="menuitem">
        <a href="../add.html"><i class="material-icons md-48">add_box</i></a>
      </div>
      <div class="menuitem">
        <a href="../country.html"><i class="material-icons md-48">list</i></a>
      </div>
      <div class="menuitem">
        <a href="../about.html"><i class="material-icons md-48">info</i></a>
        </div>
      <div class="menuitem">
          <a href="../index.html"><i class="material-icons md-48">home</i></a>
        </div>

      </header>

    </br>
    </br>

      <div class="subsubtitle">
        <img src="{{flag link}}">
        {{Country Name}}
        <img src="{{coat of arms link}}">
      </div>

      <br/>

      <div class="subtitle">
        <img src="{{flag link}}">
        {{Period/State}}
        <img src="{{coat of arms link}}">
      </div>

      <table>
        <thead>
          <tr>
            <th>Year</th>
            <th>Denomination</th>
            <th>Serial Number</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{Year}}</td>
            <td>{{Denomination}}</td>
            <td>{{Serial Number}}</td>
            <td><a href="../coins/{{Serial Number}}.html"><i class="material-icons md-48">arrow_forward</i></a></td>
          </tr>
      </table>

    </body>

  </html>
