html {background-color: #F9F8ED}

header {
    position: fixed;
    top: 20px;
    background-color: #420705;
    margin-top: 0;
    margin-left: .25em;
    height: 5.3em;
    width: 98%;
    text-align: right;
    font-family: TypoGrotesk;
    font-size: 30px
    padding-right: 3em;
    border-radius: 5em;
}

.sitename {
    color: #F9F8ED;
    margin: -.25em -.2em;
    min-width: 6em;
    padding: .75em 1em;
    border-radius: 2em;
    letter-spacing: 0em;
    float: left;
    font-weight: bolder;
    font-size: 40px
}

.menuitem {
    display: inline-block;
    margin-top: .6em;
    margin-right: 1em;
    min-width: 1em;
    text-align: center;
    background-color: #993931;
    padding: 0.25em 1em;
    border-radius: 4em;
    font-weight: bold;
    font-size: 30px;
}

.menuitem a {
    color: #F9F8ED;
    text-decoration: none;
}

.menuitem:hover {
    background-color: #1D8C83;
    color: #333;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0em 0 0 -1em;
    color: #420705;
    background-color: #fff;
    z-index: 1;
    border-radius: 0em 0em 1em 1em;
}
.dropdown-content a {
    color: #420705;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    padding: 0.5em 0em 0.5em 1em;
    min-width: 5.10em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #fff;
    background-color: #1D8C83;
}


.dropdown:hover{
    border-radius: 5em 5em 0em 0em;
}

#foundation:hover{
    border-radius: 0em 0em 1em 1em;
}

#welcome{
    color: #420705;
    padding-top: 6em;
    text-align: center;
}

#welcoming {
  font-family: mdgrotesque;
  font-size: 40px;
}

img {
  display: block;
  margin-left: 30em;
  margin-right: 5em;
  margin-top: -1em;
  width: 40%;
  padding-left: 15%;
}

#about {
  display: block;
  font-family: mdgrotesque;
  font-size: 15px;
  margin-top: -30em;
  margin-left: 10em;
  margin-right: 40em;
}

footer {
  background-color: #420705;
  margin-top: 0;
  margin-left: .25em;
  height: 5.3em;
  width: 98%;
  text-align: right;
  font-family: TypoGrotesk;
  font-size: 30px
  padding-right: 3em;
  border-radius: 5em;
}
